<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.redisson.module.mapper.ProductKillMapper" >
  <resultMap id="BaseResultMap" type="com.learn.redisson.module.entity.ProductKill" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="prod_code" property="prodCode" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="is_active" property="isActive" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, prod_code, total, is_active, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_kill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_kill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.learn.redisson.module.entity.ProductKill" >
    insert into product_kill (id, prod_code, total, 
      is_active, create_time)
    values (#{id,jdbcType=INTEGER}, #{prodCode,jdbcType=VARCHAR}, #{total,jdbcType=INTEGER}, 
      #{isActive,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.learn.redisson.module.entity.ProductKill" >
    insert into product_kill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="prodCode != null" >
        prod_code,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="prodCode != null" >
        #{prodCode,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.learn.redisson.module.entity.ProductKill" >
    update product_kill
    <set >
      <if test="prodCode != null" >
        prod_code = #{prodCode,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.learn.redisson.module.entity.ProductKill" >
    update product_kill
    set prod_code = #{prodCode,jdbcType=VARCHAR},
      total = #{total,jdbcType=INTEGER},
      is_active = #{isActive,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByKillId" resultType="com.learn.redisson.module.entity.ProductKill">
    SELECT
        a.*, b.prod_name AS prodName
    FROM
        product_kill AS a
    LEFT JOIN product AS b ON b.prod_code = a.prod_code
    WHERE
        a.is_active = 1 AND a.id=#{killId}
  </select>
  
  <update id="updateKillSuccess">
    UPDATE product_kill
    SET total = total - 1
    WHERE
        id = #{killId}
    AND is_active = 1
  </update>




  <select id="selectByKillIdV2" resultType="com.learn.redisson.module.entity.ProductKill">
    SELECT
        a.*, b.prod_name AS prodName
    FROM
        product_kill AS a
    LEFT JOIN product AS b ON b.prod_code = a.prod_code
    WHERE
        a.is_active = 1 AND a.total>0 AND a.id=#{killId}
  </select>

  <update id="updateKillSuccessV2">
    UPDATE product_kill
      SET total = total - 1
    WHERE
      id = #{killId}
    AND is_active = 1 AND total>0
  </update>





  <select id="selectByKillIdRemote" resultType="com.learn.redisson.api.dto.ProductInfo">
    SELECT
        a.*, b.prod_name AS prodName
    FROM
        product_kill AS a
    LEFT JOIN product AS b ON b.prod_code = a.prod_code
    WHERE
        a.is_active = 1 AND a.id=#{killId}
  </select>

</mapper>























