<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.EngineCostMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.EngineCost" >
    <id column="cost_name" property="costName" jdbcType="VARCHAR" />
    <id column="engine_name" property="engineName" jdbcType="VARCHAR" />
    <id column="device_type" property="deviceType" jdbcType="INTEGER" />
    <result column="cost_value" property="costValue" jdbcType="REAL" />
    <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="default_value" property="defaultValue" jdbcType="REAL" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from engine_cost
    where cost_name = #{costName,jdbcType=VARCHAR}
      and engine_name = #{engineName,jdbcType=VARCHAR}
      and device_type = #{deviceType,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.EngineCost" >
    insert into engine_cost (cost_name, engine_name, device_type, 
      cost_value, last_update, `comment`, 
      default_value)
    values (#{costName,jdbcType=VARCHAR}, #{engineName,jdbcType=VARCHAR}, #{deviceType,jdbcType=INTEGER}, 
      #{costValue,jdbcType=REAL}, #{lastUpdate,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}, 
      #{defaultValue,jdbcType=REAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.coderman.foodie.pojo.EngineCost" >
    update engine_cost
    set cost_value = #{costValue,jdbcType=REAL},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      `comment` = #{comment,jdbcType=VARCHAR},
      default_value = #{defaultValue,jdbcType=REAL}
    where cost_name = #{costName,jdbcType=VARCHAR}
      and engine_name = #{engineName,jdbcType=VARCHAR}
      and device_type = #{deviceType,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select cost_name, engine_name, device_type, cost_value, last_update, `comment`, default_value
    from engine_cost
    where cost_name = #{costName,jdbcType=VARCHAR}
      and engine_name = #{engineName,jdbcType=VARCHAR}
      and device_type = #{deviceType,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select cost_name, engine_name, device_type, cost_value, last_update, `comment`, default_value
    from engine_cost
  </select>
</mapper>