<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.EventsErrorsSummaryByAccountByErrorMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.EventsErrorsSummaryByAccountByError" >
    <result column="USER" property="user" jdbcType="CHAR" />
    <result column="HOST" property="host" jdbcType="CHAR" />
    <result column="ERROR_NUMBER" property="errorNumber" jdbcType="INTEGER" />
    <result column="ERROR_NAME" property="errorName" jdbcType="VARCHAR" />
    <result column="SQL_STATE" property="sqlState" jdbcType="VARCHAR" />
    <result column="SUM_ERROR_RAISED" property="sumErrorRaised" jdbcType="BIGINT" />
    <result column="SUM_ERROR_HANDLED" property="sumErrorHandled" jdbcType="BIGINT" />
    <result column="FIRST_SEEN" property="firstSeen" jdbcType="TIMESTAMP" />
    <result column="LAST_SEEN" property="lastSeen" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.EventsErrorsSummaryByAccountByError" >
    insert into events_errors_summary_by_account_by_error (`USER`, `HOST`, ERROR_NUMBER, 
      ERROR_NAME, SQL_STATE, SUM_ERROR_RAISED, 
      SUM_ERROR_HANDLED, FIRST_SEEN, LAST_SEEN
      )
    values (#{user,jdbcType=CHAR}, #{host,jdbcType=CHAR}, #{errorNumber,jdbcType=INTEGER}, 
      #{errorName,jdbcType=VARCHAR}, #{sqlState,jdbcType=VARCHAR}, #{sumErrorRaised,jdbcType=BIGINT}, 
      #{sumErrorHandled,jdbcType=BIGINT}, #{firstSeen,jdbcType=TIMESTAMP}, #{lastSeen,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select `USER`, `HOST`, ERROR_NUMBER, ERROR_NAME, SQL_STATE, SUM_ERROR_RAISED, SUM_ERROR_HANDLED, 
    FIRST_SEEN, LAST_SEEN
    from events_errors_summary_by_account_by_error
  </select>
</mapper>