<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.FilmTextMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.FilmText" >
    <id column="film_id" property="filmId" jdbcType="SMALLINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from film_text
    where film_id = #{filmId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.FilmText" >
    insert into film_text (film_id, title, description
      )
    values (#{filmId,jdbcType=SMALLINT}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.coderman.foodie.pojo.FilmText" >
    update film_text
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where film_id = #{filmId,jdbcType=SMALLINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select film_id, title, description
    from film_text
    where film_id = #{filmId,jdbcType=SMALLINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select film_id, title, description
    from film_text
  </select>
</mapper>