<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.InnodbTablespacesMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.InnodbTablespaces" >
    <result column="SPACE" property="space" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="FLAG" property="flag" jdbcType="INTEGER" />
    <result column="ROW_FORMAT" property="rowFormat" jdbcType="VARCHAR" />
    <result column="PAGE_SIZE" property="pageSize" jdbcType="INTEGER" />
    <result column="ZIP_PAGE_SIZE" property="zipPageSize" jdbcType="INTEGER" />
    <result column="SPACE_TYPE" property="spaceType" jdbcType="VARCHAR" />
    <result column="FS_BLOCK_SIZE" property="fsBlockSize" jdbcType="INTEGER" />
    <result column="FILE_SIZE" property="fileSize" jdbcType="BIGINT" />
    <result column="ALLOCATED_SIZE" property="allocatedSize" jdbcType="BIGINT" />
    <result column="AUTOEXTEND_SIZE" property="autoextendSize" jdbcType="BIGINT" />
    <result column="SERVER_VERSION" property="serverVersion" jdbcType="VARCHAR" />
    <result column="SPACE_VERSION" property="spaceVersion" jdbcType="INTEGER" />
    <result column="ENCRYPTION" property="encryption" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.InnodbTablespaces" >
    insert into INNODB_TABLESPACES (`SPACE`, `NAME`, FLAG, 
      ROW_FORMAT, PAGE_SIZE, ZIP_PAGE_SIZE, 
      SPACE_TYPE, FS_BLOCK_SIZE, FILE_SIZE, 
      ALLOCATED_SIZE, AUTOEXTEND_SIZE, SERVER_VERSION, 
      SPACE_VERSION, ENCRYPTION, `STATE`
      )
    values (#{space,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, 
      #{rowFormat,jdbcType=VARCHAR}, #{pageSize,jdbcType=INTEGER}, #{zipPageSize,jdbcType=INTEGER}, 
      #{spaceType,jdbcType=VARCHAR}, #{fsBlockSize,jdbcType=INTEGER}, #{fileSize,jdbcType=BIGINT}, 
      #{allocatedSize,jdbcType=BIGINT}, #{autoextendSize,jdbcType=BIGINT}, #{serverVersion,jdbcType=VARCHAR}, 
      #{spaceVersion,jdbcType=INTEGER}, #{encryption,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select `SPACE`, `NAME`, FLAG, ROW_FORMAT, PAGE_SIZE, ZIP_PAGE_SIZE, SPACE_TYPE, FS_BLOCK_SIZE, 
    FILE_SIZE, ALLOCATED_SIZE, AUTOEXTEND_SIZE, SERVER_VERSION, SPACE_VERSION, ENCRYPTION, 
    `STATE`
    from INNODB_TABLESPACES
  </select>
</mapper>