<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.InnodbFtDeletedMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.InnodbFtDeleted" >
    <result column="DOC_ID" property="docId" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.InnodbFtDeleted" >
    insert into INNODB_FT_DELETED (DOC_ID)
    values (#{docId,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select DOC_ID
    from INNODB_FT_DELETED
  </select>
</mapper>