<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.InnodbCmpPerIndexMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.InnodbCmpPerIndex" >
    <result column="database_name" property="databaseName" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="index_name" property="indexName" jdbcType="VARCHAR" />
    <result column="compress_ops" property="compressOps" jdbcType="INTEGER" />
    <result column="compress_ops_ok" property="compressOpsOk" jdbcType="INTEGER" />
    <result column="compress_time" property="compressTime" jdbcType="INTEGER" />
    <result column="uncompress_ops" property="uncompressOps" jdbcType="INTEGER" />
    <result column="uncompress_time" property="uncompressTime" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.InnodbCmpPerIndex" >
    insert into INNODB_CMP_PER_INDEX (database_name, `table_name`, index_name, 
      compress_ops, compress_ops_ok, compress_time, 
      uncompress_ops, uncompress_time)
    values (#{databaseName,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{indexName,jdbcType=VARCHAR}, 
      #{compressOps,jdbcType=INTEGER}, #{compressOpsOk,jdbcType=INTEGER}, #{compressTime,jdbcType=INTEGER}, 
      #{uncompressOps,jdbcType=INTEGER}, #{uncompressTime,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select database_name, `table_name`, index_name, compress_ops, compress_ops_ok, compress_time, 
    uncompress_ops, uncompress_time
    from INNODB_CMP_PER_INDEX
  </select>
</mapper>