<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.InventoryMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.Inventory" >
    <id column="inventory_id" property="inventoryId" jdbcType="INTEGER" />
    <result column="film_id" property="filmId" jdbcType="SMALLINT" />
    <result column="store_id" property="storeId" jdbcType="TINYINT" />
    <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inventory
    where inventory_id = #{inventoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.Inventory" >
    insert into inventory (inventory_id, film_id, store_id, 
      last_update)
    values (#{inventoryId,jdbcType=INTEGER}, #{filmId,jdbcType=SMALLINT}, #{storeId,jdbcType=TINYINT}, 
      #{lastUpdate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.coderman.foodie.pojo.Inventory" >
    update inventory
    set film_id = #{filmId,jdbcType=SMALLINT},
      store_id = #{storeId,jdbcType=TINYINT},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP}
    where inventory_id = #{inventoryId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select inventory_id, film_id, store_id, last_update
    from inventory
    where inventory_id = #{inventoryId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select inventory_id, film_id, store_id, last_update
    from inventory
  </select>
</mapper>