<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.MemoryByUserByCurrentBytesMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.MemoryByUserByCurrentBytes" >
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="current_count_used" property="currentCountUsed" jdbcType="DECIMAL" />
    <result column="current_allocated" property="currentAllocated" jdbcType="VARCHAR" />
    <result column="current_avg_alloc" property="currentAvgAlloc" jdbcType="VARCHAR" />
    <result column="current_max_alloc" property="currentMaxAlloc" jdbcType="VARCHAR" />
    <result column="total_allocated" property="totalAllocated" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.MemoryByUserByCurrentBytes" >
    insert into memory_by_user_by_current_bytes (`user`, current_count_used, current_allocated, 
      current_avg_alloc, current_max_alloc, total_allocated
      )
    values (#{user,jdbcType=VARCHAR}, #{currentCountUsed,jdbcType=DECIMAL}, #{currentAllocated,jdbcType=VARCHAR}, 
      #{currentAvgAlloc,jdbcType=VARCHAR}, #{currentMaxAlloc,jdbcType=VARCHAR}, #{totalAllocated,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select `user`, current_count_used, current_allocated, current_avg_alloc, current_max_alloc, 
    total_allocated
    from memory_by_user_by_current_bytes
  </select>
</mapper>