<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.OrderStatusMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.OrderStatus" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="deliver_time" property="deliverTime" jdbcType="TIMESTAMP" />
    <result column="success_time" property="successTime" jdbcType="TIMESTAMP" />
    <result column="close_time" property="closeTime" jdbcType="TIMESTAMP" />
    <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_status
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.OrderStatus" >
    insert into order_status (order_id, order_status, created_time, 
      pay_time, deliver_time, success_time, 
      close_time, comment_time)
    values (#{orderId,jdbcType=VARCHAR}, #{orderStatus,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{payTime,jdbcType=TIMESTAMP}, #{deliverTime,jdbcType=TIMESTAMP}, #{successTime,jdbcType=TIMESTAMP}, 
      #{closeTime,jdbcType=TIMESTAMP}, #{commentTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.coderman.foodie.pojo.OrderStatus" >
    update order_status
    set order_status = #{orderStatus,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      deliver_time = #{deliverTime,jdbcType=TIMESTAMP},
      success_time = #{successTime,jdbcType=TIMESTAMP},
      close_time = #{closeTime,jdbcType=TIMESTAMP},
      comment_time = #{commentTime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select order_id, order_status, created_time, pay_time, deliver_time, success_time, 
    close_time, comment_time
    from order_status
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select order_id, order_status, created_time, pay_time, deliver_time, success_time, 
    close_time, comment_time
    from order_status
  </select>
</mapper>