<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.ProfilingMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.Profiling" >
    <result column="QUERY_ID" property="queryId" jdbcType="INTEGER" />
    <result column="SEQ" property="seq" jdbcType="INTEGER" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="DURATION" property="duration" jdbcType="DECIMAL" />
    <result column="CPU_USER" property="cpuUser" jdbcType="DECIMAL" />
    <result column="CPU_SYSTEM" property="cpuSystem" jdbcType="DECIMAL" />
    <result column="CONTEXT_VOLUNTARY" property="contextVoluntary" jdbcType="INTEGER" />
    <result column="CONTEXT_INVOLUNTARY" property="contextInvoluntary" jdbcType="INTEGER" />
    <result column="BLOCK_OPS_IN" property="blockOpsIn" jdbcType="INTEGER" />
    <result column="BLOCK_OPS_OUT" property="blockOpsOut" jdbcType="INTEGER" />
    <result column="MESSAGES_SENT" property="messagesSent" jdbcType="INTEGER" />
    <result column="MESSAGES_RECEIVED" property="messagesReceived" jdbcType="INTEGER" />
    <result column="PAGE_FAULTS_MAJOR" property="pageFaultsMajor" jdbcType="INTEGER" />
    <result column="PAGE_FAULTS_MINOR" property="pageFaultsMinor" jdbcType="INTEGER" />
    <result column="SWAPS" property="swaps" jdbcType="INTEGER" />
    <result column="SOURCE_FUNCTION" property="sourceFunction" jdbcType="VARCHAR" />
    <result column="SOURCE_FILE" property="sourceFile" jdbcType="VARCHAR" />
    <result column="SOURCE_LINE" property="sourceLine" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.Profiling" >
    insert into PROFILING (QUERY_ID, SEQ, `STATE`, 
      DURATION, CPU_USER, CPU_SYSTEM, 
      CONTEXT_VOLUNTARY, CONTEXT_INVOLUNTARY, BLOCK_OPS_IN, 
      BLOCK_OPS_OUT, MESSAGES_SENT, MESSAGES_RECEIVED, 
      PAGE_FAULTS_MAJOR, PAGE_FAULTS_MINOR, SWAPS, 
      SOURCE_FUNCTION, SOURCE_FILE, SOURCE_LINE
      )
    values (#{queryId,jdbcType=INTEGER}, #{seq,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}, 
      #{duration,jdbcType=DECIMAL}, #{cpuUser,jdbcType=DECIMAL}, #{cpuSystem,jdbcType=DECIMAL}, 
      #{contextVoluntary,jdbcType=INTEGER}, #{contextInvoluntary,jdbcType=INTEGER}, #{blockOpsIn,jdbcType=INTEGER}, 
      #{blockOpsOut,jdbcType=INTEGER}, #{messagesSent,jdbcType=INTEGER}, #{messagesReceived,jdbcType=INTEGER}, 
      #{pageFaultsMajor,jdbcType=INTEGER}, #{pageFaultsMinor,jdbcType=INTEGER}, #{swaps,jdbcType=INTEGER}, 
      #{sourceFunction,jdbcType=VARCHAR}, #{sourceFile,jdbcType=VARCHAR}, #{sourceLine,jdbcType=INTEGER}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select QUERY_ID, SEQ, `STATE`, DURATION, CPU_USER, CPU_SYSTEM, CONTEXT_VOLUNTARY, 
    CONTEXT_INVOLUNTARY, BLOCK_OPS_IN, BLOCK_OPS_OUT, MESSAGES_SENT, MESSAGES_RECEIVED, 
    PAGE_FAULTS_MAJOR, PAGE_FAULTS_MINOR, SWAPS, SOURCE_FUNCTION, SOURCE_FILE, SOURCE_LINE
    from PROFILING
  </select>
</mapper>