<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.StatementsWithFullTableScansMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.StatementsWithFullTableScans" >
    <result column="db" property="db" jdbcType="VARCHAR" />
    <result column="exec_count" property="execCount" jdbcType="BIGINT" />
    <result column="total_latency" property="totalLatency" jdbcType="VARCHAR" />
    <result column="no_index_used_count" property="noIndexUsedCount" jdbcType="BIGINT" />
    <result column="no_good_index_used_count" property="noGoodIndexUsedCount" jdbcType="BIGINT" />
    <result column="no_index_used_pct" property="noIndexUsedPct" jdbcType="DECIMAL" />
    <result column="rows_sent" property="rowsSent" jdbcType="BIGINT" />
    <result column="rows_examined" property="rowsExamined" jdbcType="BIGINT" />
    <result column="rows_sent_avg" property="rowsSentAvg" jdbcType="DECIMAL" />
    <result column="rows_examined_avg" property="rowsExaminedAvg" jdbcType="DECIMAL" />
    <result column="first_seen" property="firstSeen" jdbcType="TIMESTAMP" />
    <result column="last_seen" property="lastSeen" jdbcType="TIMESTAMP" />
    <result column="digest" property="digest" jdbcType="VARCHAR" />
    <result column="query" property="query" jdbcType="LONGVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.StatementsWithFullTableScans" >
    insert into statements_with_full_table_scans (db, exec_count, total_latency, 
      no_index_used_count, no_good_index_used_count, no_index_used_pct, 
      rows_sent, rows_examined, rows_sent_avg, 
      rows_examined_avg, first_seen, last_seen, 
      digest, query)
    values (#{db,jdbcType=VARCHAR}, #{execCount,jdbcType=BIGINT}, #{totalLatency,jdbcType=VARCHAR}, 
      #{noIndexUsedCount,jdbcType=BIGINT}, #{noGoodIndexUsedCount,jdbcType=BIGINT}, #{noIndexUsedPct,jdbcType=DECIMAL}, 
      #{rowsSent,jdbcType=BIGINT}, #{rowsExamined,jdbcType=BIGINT}, #{rowsSentAvg,jdbcType=DECIMAL}, 
      #{rowsExaminedAvg,jdbcType=DECIMAL}, #{firstSeen,jdbcType=TIMESTAMP}, #{lastSeen,jdbcType=TIMESTAMP}, 
      #{digest,jdbcType=VARCHAR}, #{query,jdbcType=LONGVARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select db, exec_count, total_latency, no_index_used_count, no_good_index_used_count, 
    no_index_used_pct, rows_sent, rows_examined, rows_sent_avg, rows_examined_avg, first_seen, 
    last_seen, digest, query
    from statements_with_full_table_scans
  </select>
</mapper>