<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.TablesMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.Tables" >
    <result column="TABLE_CATALOG" property="tableCatalog" jdbcType="VARCHAR" />
    <result column="TABLE_SCHEMA" property="tableSchema" jdbcType="VARCHAR" />
    <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
    <result column="TABLE_TYPE" property="tableType" jdbcType="CHAR" />
    <result column="ENGINE" property="engine" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="INTEGER" />
    <result column="ROW_FORMAT" property="rowFormat" jdbcType="CHAR" />
    <result column="TABLE_ROWS" property="tableRows" jdbcType="BIGINT" />
    <result column="AVG_ROW_LENGTH" property="avgRowLength" jdbcType="BIGINT" />
    <result column="DATA_LENGTH" property="dataLength" jdbcType="BIGINT" />
    <result column="MAX_DATA_LENGTH" property="maxDataLength" jdbcType="BIGINT" />
    <result column="INDEX_LENGTH" property="indexLength" jdbcType="BIGINT" />
    <result column="DATA_FREE" property="dataFree" jdbcType="BIGINT" />
    <result column="AUTO_INCREMENT" property="autoIncrement" jdbcType="BIGINT" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CHECK_TIME" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="TABLE_COLLATION" property="tableCollation" jdbcType="VARCHAR" />
    <result column="CHECKSUM" property="checksum" jdbcType="BIGINT" />
    <result column="CREATE_OPTIONS" property="createOptions" jdbcType="VARCHAR" />
    <result column="TABLE_COMMENT" property="tableComment" jdbcType="LONGVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.Tables" >
    insert into TABLES (TABLE_CATALOG, TABLE_SCHEMA, `TABLE_NAME`, 
      TABLE_TYPE, ENGINE, VERSION, 
      ROW_FORMAT, TABLE_ROWS, `AVG_ROW_LENGTH`, 
      DATA_LENGTH, MAX_DATA_LENGTH, INDEX_LENGTH, 
      DATA_FREE, `AUTO_INCREMENT`, CREATE_TIME, 
      UPDATE_TIME, CHECK_TIME, TABLE_COLLATION, 
      `CHECKSUM`, CREATE_OPTIONS, TABLE_COMMENT
      )
    values (#{tableCatalog,jdbcType=VARCHAR}, #{tableSchema,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, 
      #{tableType,jdbcType=CHAR}, #{engine,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{rowFormat,jdbcType=CHAR}, #{tableRows,jdbcType=BIGINT}, #{avgRowLength,jdbcType=BIGINT}, 
      #{dataLength,jdbcType=BIGINT}, #{maxDataLength,jdbcType=BIGINT}, #{indexLength,jdbcType=BIGINT}, 
      #{dataFree,jdbcType=BIGINT}, #{autoIncrement,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{checkTime,jdbcType=TIMESTAMP}, #{tableCollation,jdbcType=VARCHAR}, 
      #{checksum,jdbcType=BIGINT}, #{createOptions,jdbcType=VARCHAR}, #{tableComment,jdbcType=LONGVARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select TABLE_CATALOG, TABLE_SCHEMA, `TABLE_NAME`, TABLE_TYPE, ENGINE, VERSION, ROW_FORMAT, 
    TABLE_ROWS, `AVG_ROW_LENGTH`, DATA_LENGTH, MAX_DATA_LENGTH, INDEX_LENGTH, DATA_FREE, 
    `AUTO_INCREMENT`, CREATE_TIME, UPDATE_TIME, CHECK_TIME, TABLE_COLLATION, `CHECKSUM`, 
    CREATE_OPTIONS, TABLE_COMMENT
    from TABLES
  </select>
</mapper>