<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.TableIoWaitsSummaryByTableMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.TableIoWaitsSummaryByTable" >
    <result column="OBJECT_TYPE" property="objectType" jdbcType="VARCHAR" />
    <result column="OBJECT_SCHEMA" property="objectSchema" jdbcType="VARCHAR" />
    <result column="OBJECT_NAME" property="objectName" jdbcType="VARCHAR" />
    <result column="COUNT_STAR" property="countStar" jdbcType="BIGINT" />
    <result column="SUM_TIMER_WAIT" property="sumTimerWait" jdbcType="BIGINT" />
    <result column="MIN_TIMER_WAIT" property="minTimerWait" jdbcType="BIGINT" />
    <result column="AVG_TIMER_WAIT" property="avgTimerWait" jdbcType="BIGINT" />
    <result column="MAX_TIMER_WAIT" property="maxTimerWait" jdbcType="BIGINT" />
    <result column="COUNT_READ" property="countRead" jdbcType="BIGINT" />
    <result column="SUM_TIMER_READ" property="sumTimerRead" jdbcType="BIGINT" />
    <result column="MIN_TIMER_READ" property="minTimerRead" jdbcType="BIGINT" />
    <result column="AVG_TIMER_READ" property="avgTimerRead" jdbcType="BIGINT" />
    <result column="MAX_TIMER_READ" property="maxTimerRead" jdbcType="BIGINT" />
    <result column="COUNT_WRITE" property="countWrite" jdbcType="BIGINT" />
    <result column="SUM_TIMER_WRITE" property="sumTimerWrite" jdbcType="BIGINT" />
    <result column="MIN_TIMER_WRITE" property="minTimerWrite" jdbcType="BIGINT" />
    <result column="AVG_TIMER_WRITE" property="avgTimerWrite" jdbcType="BIGINT" />
    <result column="MAX_TIMER_WRITE" property="maxTimerWrite" jdbcType="BIGINT" />
    <result column="COUNT_FETCH" property="countFetch" jdbcType="BIGINT" />
    <result column="SUM_TIMER_FETCH" property="sumTimerFetch" jdbcType="BIGINT" />
    <result column="MIN_TIMER_FETCH" property="minTimerFetch" jdbcType="BIGINT" />
    <result column="AVG_TIMER_FETCH" property="avgTimerFetch" jdbcType="BIGINT" />
    <result column="MAX_TIMER_FETCH" property="maxTimerFetch" jdbcType="BIGINT" />
    <result column="COUNT_INSERT" property="countInsert" jdbcType="BIGINT" />
    <result column="SUM_TIMER_INSERT" property="sumTimerInsert" jdbcType="BIGINT" />
    <result column="MIN_TIMER_INSERT" property="minTimerInsert" jdbcType="BIGINT" />
    <result column="AVG_TIMER_INSERT" property="avgTimerInsert" jdbcType="BIGINT" />
    <result column="MAX_TIMER_INSERT" property="maxTimerInsert" jdbcType="BIGINT" />
    <result column="COUNT_UPDATE" property="countUpdate" jdbcType="BIGINT" />
    <result column="SUM_TIMER_UPDATE" property="sumTimerUpdate" jdbcType="BIGINT" />
    <result column="MIN_TIMER_UPDATE" property="minTimerUpdate" jdbcType="BIGINT" />
    <result column="AVG_TIMER_UPDATE" property="avgTimerUpdate" jdbcType="BIGINT" />
    <result column="MAX_TIMER_UPDATE" property="maxTimerUpdate" jdbcType="BIGINT" />
    <result column="COUNT_DELETE" property="countDelete" jdbcType="BIGINT" />
    <result column="SUM_TIMER_DELETE" property="sumTimerDelete" jdbcType="BIGINT" />
    <result column="MIN_TIMER_DELETE" property="minTimerDelete" jdbcType="BIGINT" />
    <result column="AVG_TIMER_DELETE" property="avgTimerDelete" jdbcType="BIGINT" />
    <result column="MAX_TIMER_DELETE" property="maxTimerDelete" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.TableIoWaitsSummaryByTable" >
    insert into table_io_waits_summary_by_table (OBJECT_TYPE, OBJECT_SCHEMA, OBJECT_NAME, 
      COUNT_STAR, SUM_TIMER_WAIT, MIN_TIMER_WAIT, 
      AVG_TIMER_WAIT, MAX_TIMER_WAIT, COUNT_READ, 
      SUM_TIMER_READ, MIN_TIMER_READ, AVG_TIMER_READ, 
      MAX_TIMER_READ, COUNT_WRITE, SUM_TIMER_WRITE, 
      MIN_TIMER_WRITE, AVG_TIMER_WRITE, MAX_TIMER_WRITE, 
      COUNT_FETCH, SUM_TIMER_FETCH, MIN_TIMER_FETCH, 
      AVG_TIMER_FETCH, MAX_TIMER_FETCH, COUNT_INSERT, 
      SUM_TIMER_INSERT, MIN_TIMER_INSERT, AVG_TIMER_INSERT, 
      MAX_TIMER_INSERT, COUNT_UPDATE, SUM_TIMER_UPDATE, 
      MIN_TIMER_UPDATE, AVG_TIMER_UPDATE, MAX_TIMER_UPDATE, 
      COUNT_DELETE, SUM_TIMER_DELETE, MIN_TIMER_DELETE, 
      AVG_TIMER_DELETE, MAX_TIMER_DELETE)
    values (#{objectType,jdbcType=VARCHAR}, #{objectSchema,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR}, 
      #{countStar,jdbcType=BIGINT}, #{sumTimerWait,jdbcType=BIGINT}, #{minTimerWait,jdbcType=BIGINT}, 
      #{avgTimerWait,jdbcType=BIGINT}, #{maxTimerWait,jdbcType=BIGINT}, #{countRead,jdbcType=BIGINT}, 
      #{sumTimerRead,jdbcType=BIGINT}, #{minTimerRead,jdbcType=BIGINT}, #{avgTimerRead,jdbcType=BIGINT}, 
      #{maxTimerRead,jdbcType=BIGINT}, #{countWrite,jdbcType=BIGINT}, #{sumTimerWrite,jdbcType=BIGINT}, 
      #{minTimerWrite,jdbcType=BIGINT}, #{avgTimerWrite,jdbcType=BIGINT}, #{maxTimerWrite,jdbcType=BIGINT}, 
      #{countFetch,jdbcType=BIGINT}, #{sumTimerFetch,jdbcType=BIGINT}, #{minTimerFetch,jdbcType=BIGINT}, 
      #{avgTimerFetch,jdbcType=BIGINT}, #{maxTimerFetch,jdbcType=BIGINT}, #{countInsert,jdbcType=BIGINT}, 
      #{sumTimerInsert,jdbcType=BIGINT}, #{minTimerInsert,jdbcType=BIGINT}, #{avgTimerInsert,jdbcType=BIGINT}, 
      #{maxTimerInsert,jdbcType=BIGINT}, #{countUpdate,jdbcType=BIGINT}, #{sumTimerUpdate,jdbcType=BIGINT}, 
      #{minTimerUpdate,jdbcType=BIGINT}, #{avgTimerUpdate,jdbcType=BIGINT}, #{maxTimerUpdate,jdbcType=BIGINT}, 
      #{countDelete,jdbcType=BIGINT}, #{sumTimerDelete,jdbcType=BIGINT}, #{minTimerDelete,jdbcType=BIGINT}, 
      #{avgTimerDelete,jdbcType=BIGINT}, #{maxTimerDelete,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select OBJECT_TYPE, OBJECT_SCHEMA, OBJECT_NAME, COUNT_STAR, SUM_TIMER_WAIT, MIN_TIMER_WAIT, 
    AVG_TIMER_WAIT, MAX_TIMER_WAIT, COUNT_READ, SUM_TIMER_READ, MIN_TIMER_READ, AVG_TIMER_READ, 
    MAX_TIMER_READ, COUNT_WRITE, SUM_TIMER_WRITE, MIN_TIMER_WRITE, AVG_TIMER_WRITE, MAX_TIMER_WRITE, 
    COUNT_FETCH, SUM_TIMER_FETCH, MIN_TIMER_FETCH, AVG_TIMER_FETCH, MAX_TIMER_FETCH, 
    COUNT_INSERT, SUM_TIMER_INSERT, MIN_TIMER_INSERT, AVG_TIMER_INSERT, MAX_TIMER_INSERT, 
    COUNT_UPDATE, SUM_TIMER_UPDATE, MIN_TIMER_UPDATE, AVG_TIMER_UPDATE, MAX_TIMER_UPDATE, 
    COUNT_DELETE, SUM_TIMER_DELETE, MIN_TIMER_DELETE, AVG_TIMER_DELETE, MAX_TIMER_DELETE
    from table_io_waits_summary_by_table
  </select>
</mapper>