<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.XIoByThreadByLatencyMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.XIoByThreadByLatency" >
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="DECIMAL" />
    <result column="total_latency" property="totalLatency" jdbcType="DECIMAL" />
    <result column="min_latency" property="minLatency" jdbcType="BIGINT" />
    <result column="avg_latency" property="avgLatency" jdbcType="DECIMAL" />
    <result column="max_latency" property="maxLatency" jdbcType="BIGINT" />
    <result column="thread_id" property="threadId" jdbcType="BIGINT" />
    <result column="processlist_id" property="processlistId" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.XIoByThreadByLatency" >
    insert into x$io_by_thread_by_latency (`user`, total, total_latency, 
      min_latency, avg_latency, max_latency, 
      thread_id, processlist_id)
    values (#{user,jdbcType=VARCHAR}, #{total,jdbcType=DECIMAL}, #{totalLatency,jdbcType=DECIMAL}, 
      #{minLatency,jdbcType=BIGINT}, #{avgLatency,jdbcType=DECIMAL}, #{maxLatency,jdbcType=BIGINT}, 
      #{threadId,jdbcType=BIGINT}, #{processlistId,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select `user`, total, total_latency, min_latency, avg_latency, max_latency, thread_id, 
    processlist_id
    from x$io_by_thread_by_latency
  </select>
</mapper>