<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderman.foodie.mapper.XWaitClassesGlobalByLatencyMapper" >
  <resultMap id="BaseResultMap" type="com.coderman.foodie.pojo.XWaitClassesGlobalByLatency" >
    <result column="event_class" property="eventClass" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="DECIMAL" />
    <result column="total_latency" property="totalLatency" jdbcType="DECIMAL" />
    <result column="min_latency" property="minLatency" jdbcType="BIGINT" />
    <result column="avg_latency" property="avgLatency" jdbcType="DECIMAL" />
    <result column="max_latency" property="maxLatency" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.coderman.foodie.pojo.XWaitClassesGlobalByLatency" >
    insert into x$wait_classes_global_by_latency (event_class, total, total_latency, 
      min_latency, avg_latency, max_latency
      )
    values (#{eventClass,jdbcType=VARCHAR}, #{total,jdbcType=DECIMAL}, #{totalLatency,jdbcType=DECIMAL}, 
      #{minLatency,jdbcType=BIGINT}, #{avgLatency,jdbcType=DECIMAL}, #{maxLatency,jdbcType=BIGINT}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select event_class, total, total_latency, min_latency, avg_latency, max_latency
    from x$wait_classes_global_by_latency
  </select>
</mapper>